<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="flex-center">
    <ion-card class="full-width">
      <ion-avatar class="avatar-icon">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
      </ion-avatar>


        <ion-item lines="full" class="btn-input">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="email" required></ion-input>
        </ion-item>

        <ion-item lines="full" class="btn-input">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password" required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              expand="block"
              (click)="signin()"
              shape="round"
              color="primary"
              >Entrar</ion-button
            >
          </ion-col>
        </ion-row>


    </ion-card>
  </div>
</ion-content>
