<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createUserForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="name.invalid">
      <p *ngIf="name.errors?.['required']"class="validation-error">
        O nome é obrigatório.
      </p>
      <p *ngIf="name.errors?.['minlength']" class="validation-error" >
        O nome deve conter mais do que 2 caracteres.
      </p>
    </div>
    <ion-item>
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input formControlName="lastname"></ion-input>
    </ion-item>
    <div *ngIf="lastname.invalid">
      <p *ngIf="lastname.errors?.['required']"class="validation-error">
        O Sobrenome é obrigatório.
      </p>
      <p *ngIf="lastname.errors?.['minlength']" class="validation-error" >
        O Sobrenome deve conter mais do que 2 caracteres.
      </p>
    </div>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="email.invalid">
      <p *ngIf="email.errors?.['email'] && email.errors?.['pattern']"class="validation-error">
        E-mail inválido.
      </p>
      <p *ngIf="email.errors?.['required']"class="validation-error">
        E-mail é obrigatório.
      </p>
    </div>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="password.invalid">
      <p *ngIf="password.errors?.['required']"class="validation-error">
        A Senha é obrigatória.
      </p>
      <p *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']" class="validation-error" >
        O Senha deve conter entre 5 e no máximo 15 caracteres.
      </p>
    </div>
    <p *ngIf="isEqualsValidation" class="validation-error" >
      A senhas não conferem.
    </p>
    <ion-item>
      <ion-label position="floating">Confirmar Senha </ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <div *ngIf="confirmPassword.invalid">
      <p *ngIf="confirmPassword.errors?.['required'] "class="validation-error">
        A Confirmação de senha é obrigatória.
      </p>
      <p *ngIf="confirmPassword.errors?.['minlength'] || confirmPassword.errors?.['maxlength']" class="validation-error" >
        A Confirmação de senha deve conter entre 5 e no máximo 15 caracteres.
      </p>
    </div>
    <p *ngIf="isEqualsValidation" class="validation-error" >
      A senhas não conferem.
    </p>

    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          expand="block"
          [disabled]="!createUserForm.valid"
          color="success"
          shape="round"
          >Registrar</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<!-- <ion-content>
  <div class="flex-center">
    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title color="success" >Crie sua conta</ion-card-title>
      </ion-card-header>
        <ion-item lines="full" >
          <ion-label position="floating">Nome</ion-label>
          <ion-input  type="text" [(ngModel)]="name" required></ion-input>
        </ion-item>
        <ion-item lines="full" class="btn-input">
          <ion-label position="floating">Sobrenome</ion-label>
          <ion-input type="text" [(ngModel)]="lastname" required></ion-input>
        </ion-item>
        <ion-item lines="full" class="btn-input">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="email" required></ion-input>
        </ion-item>
        <ion-item lines="full" class="btn-input">
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="password" required></ion-input>
        </ion-item>
        <ion-item lines="full" class="btn-input">
          <ion-label position="floating">Confirmar senha</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>




      <ion-col>
        <ion-button (click)="register()" expand="block" color="success" shape="round">Registrar</ion-button>
      </ion-col>
    </ion-card>
  </div>
</ion-content> -->
